.idea/
*.xcodeproj/
.DS_Store
*.iml
*.ipr
*.iws
*.o
*.so
*.a
*.swp
target/
.DS_store
foo.*
postgres/src/main/sql/zombodb--2.7.0.sql
postgres/src/test/sql/setup.sql
postgres/src/test/sql/so_comments.sql
postgres/src/test/sql/TUTORIAL.sql
postgres/results
postgres/regression.*
