.idea/
*.xcodeproj/
.DS_Store
*.iml
*.ipr
*.iws
*.o
*.so
*.a
*.swp
*.ipr
*.iws
target/
#postgres/results
#postgres/regression.*
*.xcodeproj/
.DS_store
postgres/sql/zombodb--2.1.36.sql
results/
regression.*
