language: java

env:
  matrix:
    - ES=5.6

sudo: required
dist: trusty

before_install:
  - free
  - ls -la /etc/init.d/
  - sudo apt-get purge -y elasticsearch
  - sudo apt-get update -y -qq
  - sudo apt-get install -y wget
  - sudo apt-get install -y rpm
  - sudo apt-get purge -y postgresql-9.1
  - sudo apt-get purge -y postgresql-9.2
  - sudo apt-get purge -y postgresql-9.3
  - sudo apt-get purge -y postgresql-9.4
  - sudo apt-get remove -y curl
  - sudo apt-get autoremove -y
  - sudo apt-get install -y postgresql-9.5 postgresql-server-dev-9.5
  - sudo ls -lad /usr/share/postgresql/*
  - sudo apt-get install -y maven
  - sudo wget --no-check-certificate https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.3.tar.gz
  - sudo tar xzf ./elasticsearch-5.6.3.tar.gz

script:
  - sudo /etc/init.d/postgresql stop 9.5
  - export VERSION=$(grep default_version postgres/zombodb.control | sed -e "s/default_version[[:space:]]*=[[:space:]]*'\\([^']*\\)'/\\1/")
  - export WHERE=`pwd`
  - echo "yes" | sudo cpan TAP::Parser::SourceHandler::pgTAP
  - git clone https://github.com/theory/pgtap.git
  - cd pgtap && make && sudo make install && cd ..
  - mvn clean install
  - tar xzf postgres/src/main/docker/pg9.5/zombodb-build-ubuntu_precise/curl-7.53.1.tar.gz
  - cd curl-7.53.1
  - ./configure --without-librtmp --disable-ares --disable-threaded-resolver --disable-dict --disable-file --disable-ftp --disable-gopher --disable-imap --disable-pop3 --disable-rtsp --disable-smb --disable-smtp --disable-telnet --disable-tftp
  - make -j2 && sudo make install
  - sudo ldconfig && sudo ldconfig
  - cd ..
  - cd postgres
  - make && sudo make install
  - ldd zombodb.so
  - sudo mkdir /usr/lib/postgresql/9.5/lib/plugins
  - sudo cp /usr/lib/postgresql/9.5/lib/zombodb.so /usr/lib/postgresql/9.5/lib/plugins/zombodb.so
  - sudo rm /usr/lib/postgresql/9.5/lib/zombodb.so
  - sudo src/main/shell/hack-configs-for-travisci.sh
  - echo Y | sudo /usr/share/elasticsearch/bin/elasticsearch-plugin install file://${WHERE}/elasticsearch/target/zombodb-es-plugin-${VERSION}.zip
  - sudo elasticsearch-5.6.3/bin/elasticsearch -d
  - sudo /etc/init.d/postgresql start 9.5
  - sudo cat /var/log/syslog
  - cat /etc/postgresql/9.5/main/postgresql.conf
#  - sudo -u postgres createuser -s travis
  - sudo sleep 10
  - curl localhost:9200/
  - make installcheck

after_failure:
  - sudo cat regression.diffs
  - sudo cat ~/elasticsearch-5.6.3/logs/*.log
  - sudo cat /var/log/elasticsearch/*.log
  - df -h
  - ps auwwx
  - sudo dmesg
  - free
