language: java

env:
  matrix:
    - ES=2.x

sudo: required
dist: trusty

before_install:
  - free
  - ls -la /etc/init.d/
  - wget -qO - https://packages.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
  - echo "deb https://packages.elastic.co/elasticsearch/$ES/debian stable main" | sudo tee -a /etc/apt/sources.list.d/elasticsearch-$ES.list
  - sudo apt-get update -y -qq
  - sudo apt-get install -y wget
  - sudo apt-get install -y rpm
  - sudo apt-get install -y elasticsearch
  - sudo apt-get purge -y postgresql-9.1
  - sudo apt-get purge -y postgresql-9.2
  - sudo apt-get purge -y postgresql-9.3
  - sudo apt-get purge -y postgresql-9.4
  - sudo apt-get remove -y curl
  - sudo apt-get autoremove -y
  - sudo apt-get install -y postgresql-9.5 postgresql-server-dev-9.5
  - sudo ls -lad /usr/share/postgresql/*
  - sudo apt-get install -y maven

script:
  - sudo /etc/init.d/postgresql stop 9.5
  - export VERSION=$(grep default_version postgres/zombodb.control | sed -e "s/default_version[[:space:]]*=[[:space:]]*'\\([^']*\\)'/\\1/")
  - export WHERE=`pwd`
  - mvn clean install
  - tar xzf postgres/src/main/docker/pg9.5/zombodb-build-ubuntu_precise/curl-7.43.0.tar.gz
  - cd curl-7.43.0
  - ./configure --without-librtmp --disable-ares --disable-threaded-resolver --disable-dict --disable-file --disable-ftp --disable-gopher --disable-imap --disable-pop3 --disable-rtsp --disable-smb --disable-smtp --disable-telnet --disable-tftp
  - make -j2 && sudo make install
  - sudo ldconfig && sudo ldconfig
  - cd ..
  - cd postgres
  - make && sudo make install
  - ldd zombodb.so
  - sudo mkdir /usr/lib/postgresql/9.5/lib/plugins
  - sudo cp /usr/lib/postgresql/9.5/lib/zombodb.so /usr/lib/postgresql/9.5/lib/plugins/zombodb.so
  - sudo rm /usr/lib/postgresql/9.5/lib/zombodb.so
  - sudo src/main/shell/hack-configs-for-travisci.sh
  - sudo /usr/share/elasticsearch/bin/plugin install file://${WHERE}/elasticsearch/target/zombodb-es-plugin-${VERSION}.zip
  - sudo ES_MAX_MEM=512m /etc/init.d/elasticsearch start
  - sudo /etc/init.d/postgresql start 9.5
  - sudo echo "script.inline: on\n" >> /etc/elasticsearch/elasticsearch.yml
  - sudo echo "script.indexed: on\n" >> /etc/elasticsearch/elasticsearch.yml
  - sudo cat /etc/elasticsearch/elasticsearch.yml
  - cat /etc/postgresql/9.5/main/postgresql.conf
#  - sudo -u postgres createuser -s travis
  - sudo sleep 10
  - make installcheck

after_failure:
  - sudo cat regression.diffs
  - sudo cat /var/log/postgresql/*.log
  - sudo cat /var/log/elasticsearch/*.log
  - df -h
  - ps auwwx
  - sudo dmesg
  - free
