h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
}

li, p {
    font-size: 18px;
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
}

/* p {
    margin: 0 10px;
} */

/* .sidebar {
    background: #0288d1;
    color: white;
}

.sidebar li.part-title {
    font-size: 22pt;
    color: white;
} */

