COPY events FROM PROGRAM 'gunzip --stdout @PWD/test/data/events.csv.gz' CSV;
COPY users FROM PROGRAM 'gunzip --stdout @PWD/test/data/users.csv.gz' CSV;
COPY products FROM PROGRAM 'gunzip --stdout @PWD/test/data/products.sql.gz';
COPY so_comments FROM PROGRAM 'gunzip --stdout @PWD/test/data/so_comments.sql.gz';
COPY so_users FROM PROGRAM 'gunzip --stdout @PWD/test/data/so_users.sql.gz';
COPY so_posts FROM PROGRAM 'gunzip --stdout @PWD/test/data/so_posts.sql.gz';
COPY words FROM PROGRAM 'gunzip --stdout @PWD/test/data/words.sql.gz';
COPY data FROM '@PWD/test/data/data.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);
COPY var FROM '@PWD/test/data/var.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);
COPY vol FROM '@PWD/test/data/vol.csv' WITH (FORMAT CSV, DELIMITER ',', HEADER);
