grant {
  // required for ObjectMapper JSON deserializaton
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.lang.RuntimePermission "accessDeclaredMembers";

  // required for TransportClient usage
  permission java.util.PropertyPermission "io.netty.noUnsafe", "read,write";
  permission java.util.PropertyPermission "io.netty.noKeySetOptimization", "read,write";
  permission java.util.PropertyPermission "io.netty.recycler.maxCapacityPerThread", "read,write";
};